extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Andrew Law

        //- Feel free to personalize the title below
        p A soon-to-be Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p I'm an in-development web developer. I'm a self-motivated individual with a love for all things technical--from programming (obviously), to math, physics, and formal logic. And while I'm relatively new to web development, I don't foresee myself going anywhere anytime soon: it's just too much fun.
          p Before transitioning into the world of tech, I was an adjunct professor and lecturer at several universities, most notably University of Southern California, University of California at Riverside, and Pepperdine University. Initially, coding was more of a hobby of mine, primarily used for writing technical papers and designing websites. But as of six months ago, I decided to take the plunge and invest the majority of my time and effort into becoming a programmer, the results of which you can see on this page.


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 360-773-5008
          li andy.bob.law91[at]gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/andrew-law-95755a20b/' target='blank') LinkedIn
        a.btn-link(href='https://github.com/Andrew-R-Law' target='blank') GitHub
        a.btn-link(href='https://usc.academia.edu/AndrewLaw' target='blank') Academia.edu

    nav.nav
      a(href='/')
        span &larr;
        |  Back